[submodule "style"]
	path = style
	url = https://github.com/BPA-CSIRO-Workshops/btp-handout-style.git
[submodule "orchestration"]
	path = orchestration
	url = https://github.com/BPA-CSIRO-Workshops/btp-orchestration.git
[submodule "modules/snv"]
	path = modules/snv
	url = https://github.com/BPA-CSIRO-Workshops/cancer-module-snv.git
[submodule "modules/viz"]
	path = modules/viz
	url = https://github.com/BPA-CSIRO-Workshops/cancer-module-viz.git
[submodule "modules/sv"]
	path = modules/sv
	url = https://github.com/BPA-CSIRO-Workshops/cancer-module-sv.git
[submodule "modules/cnv"]
	path = modules/cnv
	url = https://github.com/BPA-CSIRO-Workshops/cancer-module-cnv.git
[submodule "modules/qc"]
	path = modules/qc
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-ngs-qc.git
[submodule "modules/alignment"]
	path = modules/alignment
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-ngs-mapping.git
[submodule "modules/cli"]
	path = modules/cli
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-ngs-cli.git
[submodule "modules/somatic"]
	path = modules/somatic
	url = https://github.com/BPA-CSIRO-Workshops/cancer-module-somatic.git
